<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/moovy?useEncoding=true&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">userepul</property>
        <property name="hibernate.connection.password">epul</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping resource="com/moovy/server/model/Actor.hbm.xml" />
        <mapping resource="com/moovy/server/model/Category.hbm.xml" />
        <mapping resource="com/moovy/server/model/Character.hbm.xml" />
        <mapping resource="com/moovy/server/model/Director.hbm.xml" />
        <mapping resource="com/moovy/server/model/Movie.hbm.xml" />
        <mapping resource="com/moovy/server/model/MovieCategory.hbm.xml" />
    </session-factory>
</hibernate-configuration>